@import '../../assets/styles/main.scss';

.terms-page {
  width: 80%;
  align-self: center;
  background-color: $color-text-light;
  color: $color-text-grey;
  margin-top: 30px;
  margin-bottom: 30px;
}
