@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Josefin+Sans:wght@100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.5px;
  color: rgb(199 210 254);
  /* background-color: rgb(33, 40, 49); */
  /* background-color: rgb(15, 23, 42); */
  background-color: rgb(30 41 59);
}

h1 {
  font-family: 'Bangers', cursive;
  letter-spacing: 4px;
}
