@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2px;
  background-color: rgb(241 245 249);
  color: rgb(30 41 59);
}
