@import 'variables';
@import 'typography';
@import 'fonts';

* {
  outline: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: $font-family-primary;
  color: $color-text-dark;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border: none;
  width: 220px;
  border-radius: 3px;
  padding: 10px;
  border: $border;
  color: $color-text-dark;
  &::placeholder {
    color: $color-text-grey;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 15px;
  color: $color-text-dark;
  padding: 5px;
  white-space: nowrap;
  min-width: 280px;
  text-align: left;
  font-weight: 700;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin-top: 20px;
  min-width: 280px;
  font-size: 17px;
  font-weight: 700;
  border-radius: 3px;
  min-height: 50px;
  border: none;
  background-color: $color-primary;
  color: $color-text-light;
  cursor: pointer;
  box-shadow: $box-shadow;
  border: none;
  transition: $transition;
  &:hover {
    transform: scale(1.02);
    background-color: darken($color-primary, 5%);
  }
  &:active {
    transform: scale(0.98);
    background-color: darken($color-primary, 10%);
  }
}

a {
  font-weight: 500;
  color: $color-text-light;
  text-decoration: inherit;
}
a:hover {
  color: $color-primary;
}

.content-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: $content-height;
  background-color: $background-light;
}

.content-link {
  color: $color-secondary;
  font-weight: 700;
  margin-top: 30px;
}
